@model HeaderSearchQueryModel
@{ 
    this.ViewData["Title"] = "Default"; 
    }
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


        @*Uncomment below if you prefer to use an image logo*@
        <a href="index.html" class="logo me-auto"><img src="~/img/HH2.png" alt="" class="img-fluid"></a>
        <h1 class="logo me-auto">
            <a asp-area="" asp-controller="Home" asp-action="Index">HealthHub</a>
        </h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <form asp-area="" asp-controller="Doctors" asp-action="All" method="get" class="navbar order-last order-lg-0">
                <ul>
                    <li class="dropdown">
                        <a><span>Specialties</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            @foreach (var specialty in Model.Specialties)
                            {
                                <a class="page-link"
                                   asp-area="" asp-controller="Doctors" asp-action="All" asp-route-Id="@specialty.Id">
                                    @specialty.Name
                                </a>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>City Areas</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            @foreach (var cityArea in Model.CityAreas)
                            {
                                <a class="page-link"
                                   asp-area="" asp-controller="Doctors" asp-action="All" asp-route-Id="@cityArea.Id">
                                    @cityArea.Name
                                </a>

                            }
                        </ul>
                    </li>
                    <li class="search_container_input">
                        <input type="text" asp-for="SearchName" class="form-control" placeholder="or search by name">
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>

            </form>
        </nav>
        <!-- .navbar -->

        <a asp-area="" asp-controller="Doctors" asp-action="All" class="appointment-btn scrollto" area-hidden="true"><span>Find a </span>Doctor</a>
        <nav id="navbar" class="navbar order-last order-lg-0">

            <ul class="navbar order-last order-lg-0">
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </div>
</header><!-- End Header -->
