@model HealthHub.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <a class="button" asp-controller="GatherCityAreas" asp-action="Add">Add City Areas Data</a>
    </div>
    <div class="text-center">
        <a class="button" asp-controller="GatherInsuranceCompanies" asp-action="Add">Add Insurance Companies Data</a>
    </div>
}
@if (User.IsInRole("Patient"))
{
    <div class="text-center">
        <a class="button" asp-controller="Appointmen" asp-action="All" asp-route-id="@User.Identity">My Appointments</a>
    </div>
}
<partial name="_WhyUsSection" />
<partial name="_CountsSectionPartial" />
<partial name="_AboutPartial" />
<partial name="_ServicesSectionPartial" />
<partial name="_AppointmentsPartial" />
<partial name="_SpecialtiesPartial" />
<partial name="_DoctorsPartial" />
<partial name="_FAQPartial" />
<partial name="_TestimonialPartial" />
<partial name="_ContactPartial" />


@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


