@model HealthHub.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <a class="button" asp-controller="GatherCityAreas" asp-action="Add">Add City Areas Data</a>
    </div>
    <div class="text-center">
        <a class="button" asp-controller="GatherInsuranceCompanies" asp-action="Add">Add Insurance Companies Data</a>
    </div>
}
@if (User.IsInRole("Patient"))
{
    <div class="text-center">
        <a class="button" asp-controller="Appointment" asp-action="All" asp-route-id="@User.Identity">My Appointments</a>
    </div>
}
<partial name="_WhyUsSection" />
<partial name="_CountsSectionPartial" />
<partial name="_AboutPartial" />
<div class="container">
    <div class="section-title">
        <h2>Doctors</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
</div>
<partial name="_DocPartial" model="Model.Doctors.Take(4)" />
<partial name="_AppointmentsPartial" />
<partial name="_ServicesSectionPartial" />
<partial name="_FAQPartial" />
<partial name="_TestimonialPartial" />
<partial name="_ContactPartial" />


@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


