@using HealthHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<partial name="_WhyUsSection" />
@*<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <a class="button" asp-controller="GatherCityAreas" asp-action="Add">Add City Areas Data</a>
    </div>
    <div class="text-center">
        <a class="button" asp-controller="GatherInsuranceCompanies" asp-action="Add">Add Insurance Companies Data</a>
    </div>
}*@
