@using HealthHub.Common
@using HealthHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model HealthHub.Web.ViewModels.Home.HomeHeaderViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
{
    <partial name="_DoctorHeaderPartial" />
}
else if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <partial name="_AdminHeaderPartial" />
}
else
{
    <partial name="_HeaderPartial" />
}
<partial name="_WhyUsSection" />
<partial name="_CountsSectionPartial" model="Model.DataCounts" />
<partial name="_AboutPartial" />
<div class="container">
    <div class="section-title">
        <h2>Top-Rated Doctors</h2>
        <p>Vote for your preferred doctor so they can be featured in our top list.</p>
    </div>
</div>
<partial name="_DocPartial" model="Model.Doctors.Take(4)" />
<partial name="_ClinicDetailsPartial" />
<partial name="_AppointmentsPartial" />
<partial name="_ServicesSectionPartial" />
<partial name="_FAQPartial" />
<partial name="_TestimonialPartial" />


@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


