@{
    this.ViewData["Title"] = "Import Data";
}
<partial name="_AdminHeaderPartial" />
@*<section id="hero" class="d-flex align-items-center">
    <div class="container">
    
        <div class="btn-get-started scrollto">
            <a class="btn-get-started scrollto" asp-controller="PopulateDatabase" asp-action="Add">Add Appointment Ratings</a>
        </div>
    
    </div>
</section>*@

