@using HealthHub.Common
@using HealthHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model HealthHub.Web.ViewModels.Appointment.AppointmentListViewModel
@{
    var name = (await UserManager.GetUserAsync(User)).FirstName;
    this.ViewData["Title"] = $"Dr. {name}'s Dashboard";
}

<h1>Welcome to your Health Hub Dashboard</h1>
<h2>Here are your appointments:</h2>

@foreach (var appointment in Model.AppointmentList)
{
    <a asp-area="Doctor" asp-controller="Appointments" asp-action="Details" asp-route-appointmentId="@appointment.Id"
       class="list-group-item list-group-item-action bg-light">@appointment.AppointmentTime</a>
}