@model HeaderSearchQueryModel
@{
    this.ViewData["Title"] = "Cancel Appointment";
}
<partial name="_HeaderPartial" />

<section id="appointment" class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h1> You have successfully cancelled your appointment.</h1>

            <a asp-area="" asp-controller="Doctors" asp-action="All" class="btn btn-block btn-primary">Find a Doctor</a>
        </div>
    </div>
</section>

