<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href=https://www.youtube.com/watch?v=hkpvJCpwnUc" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Health Hub At Your Convenience</h3>
                <p>The easiest and most accessible way to book an appointment - from your home or office!</p>
                <p>Health Hub is the right doctor, at the right place, in the right moment!</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Appointments</a></h4>
                    <p class="description">After you book an appointment it will automatically show in your profile.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Reminders</a></h4>
                    <p class="description">2 days before the appointment you will receive a notification through e-mail and SMS.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Rating</a></h4>
                    <p class="description">After your appointment you can rate the service and leave a comment helping other patients with their choice.</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->
