@using HealthHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Book an Appointment</h2>
            <p>All you need to do is login to your profile.</p>
            <p>Don't have a profile yet? Create one in seconds!</p>
        </div>

        @if (this.SignInManager.IsSignedIn(this.User))
        {
    <div class="text-center">        
            <a class="appointment-btn scrollto" asp-area="" asp-controller="Doctors" asp-action="All">
                <h7>Book An Appointment</h7>
            </a>
    </div>
        }
        else
        {
    <div class="text-center">
            <a class="appointment-btn scrollto" asp-area="" asp-controller="Appointment" asp-action="Book"
               asp-route-doctorId="">
                <h7>Login / Register</h7>
            </a>
    </div>
            
        }

        
    </div>
</section><!-- End Appointment Section -->
