<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


        <a href="index.html" class="logo me-auto"><img src="~/img/HH2.png" alt="" class="img-fluid"></a>
        <h1 class="logo me-auto">
            <a asp-area="" asp-controller="Home" asp-action="Index">HealthHub</a>
        </h1>

        <a asp-area="Doctor" asp-controller="Appointments" asp-action="Index" class="appointment-btn scrollto" area-hidden="true"><span>My </span>Appointments</a>

    </div>
</header><!-- End Header -->
