<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Health Hub is created as a platform that allows patients to effortlessly find doctors and book appointments online. Health Hub is not a medical institution and does not offer medical services or answer any medical-related questions.</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Are all doctors included in the Health Hub database? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Currently only doctors that have registered in the Health Hub platform and have given their consent to use it can be found in our database. We are working hard to make our platform more popular so it can include as many doctors as possible.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-2">Can I contact the doctor by phone? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            The Health Hub platform offers the option to book an appointment online 24/7. Some doctors choose to share their phone number on their profile, others prefer the patient not to contact them by phone. If you need to cancel an appointment, you can do that from your profile under “My appointments”. For any other technical issues, you can contact Health Hub.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Do I have to register in the system to book an appointment through Health Hub? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Yes, your registered profile in Health Hub will give the doctor information about you in advance, as well as your contact details in case they need to get in touch.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How do I know that my booking has been successful? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Once you book an appointment, it will appear in "My Appointments" page as requested. Then, depending on schedule availability, the doctor will mark it as "Confirmed" or "Cancelled"". You can check the status of your appointment at any time in your profile under “My appointments”.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">I like the idea of Health Hub – how can I support you? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            You can follow our social media profiles. If you are a patient and you have a preferred doctor, that Is not on our platform – tell them about us. If you are a doctor, tell your patients about the opportunity to book an appointment with you through Health Hub. Thank you for your positive feedback!
                        </p>
                    </div>
                </li>

            </ul>
        </div>



    </div>
</section><!-- End Frequently Asked Questions Section -->
