@using HealthHub.Common

<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Contact Us</h3>
                    <p>
                        <strong>Phone:</strong> +97433088806<br>
                        <strong>Email:</strong> denitsa.dey@gmail.com<br>
                        <strong>Github:</strong> <a href="https://github.com/DenitsaDey/My-Projects/tree/master/HealthHub%203.0" target="_blank">
                            <span>Denitsa Dey Health Hub</span>
                    </p>
                </div>

                <nav id="navbar" class="navbar order-last order-lg-10">
                    <ul>
                        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                        <li><a class="nav-link scrollto" href="#clinics">Clinics</a></li>
                        <li><a class="nav-link scrollto" href="#appointments">Appointments</a></li>
                        <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
                    </ul>
                </nav>

            </div>
            </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>@GlobalConstants.SystemName</span></strong>. All Rights Reserved
            </div>
            <div class="credits text-center text-md-right pt-3 pt-md-0">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
