
<section id="hero" class="d-flex align-items-center">


    @if (User.IsInRole("Admin"))
    {
        @if (this.ViewData["Title"].ToString() == "Import Data")
        {
            <div class="container">
                <h1>@this.ViewData["Title"]</h1>
                <h2>Appointment Ratings imported successfully!</h2>
                <a class="btn-get-started scrollto" asp-controller="Appointment" asp-action="Index">All Appointments</a>
            </div>
        }
        else
        {
            <div class="container">
                <h1>Welcome to Health Hub Admin Page</h1>
                <h2>Here you can manage appointments, doctors, clinics and more!</h2>
                <a class="btn-get-started scrollto" asp-controller="Appointment" asp-action="Index">All Appointments</a>
                <a class="btn-get-started scrollto" asp-controller="PopulateDatabase" asp-action="Index">Import Ratings</a>
            </div>
        }
    }

    else if (User.IsInRole("Patient"))
    {
        <div class="container">
            <h1>Welcome to Health Hub</h1>
            <h2>We help you find the right medical professional</h2>
            <a class="btn-get-started scrollto" asp-controller="Appointment" asp-action="Index">My Appointments</a>
            <a asp-area="" asp-controller="Doctors" asp-action="All" class="btn-get-started scrollto">Find a doctor</a>
        </div>
    }

    else if (User.IsInRole("Doctor"))
    {
        <div class="container">
            <h1>Welcome to</h1>
            <h1>your Health Hub</h1>
            <h1>Dashboard</h1>
            <h2>Here are your appointments:</h2>
            <a class="btn-get-started scrollto" asp-area="Doctor" asp-controller="Appointments" asp-action="Index">My Appointments</a>
        </div>
    }

    else
    {
        <div class="container">
            <h1>Welcome to Health Hub</h1>
            <h2>We help you find the right medical professional</h2>
            <a asp-area="" asp-controller="Doctors" asp-action="All" class="btn-get-started scrollto">Find a doctor</a>
        </div>
    }


</section><!-- End Hero -->