
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Health Hub</h1>
        <h2>We help you find the right medical professional</h2>
        @if (User.IsInRole("Admin"))
        {
                <a href="" class="btn-get-started scrollto" asp-controller="GatherInsuranceCompanies" asp-action="Add">Add Insurance Companies Data</a>           
        }
        @if (User.IsInRole("Patient"))
        {
                <a class="btn-get-started scrollto" asp-controller="Appointment" asp-action="Index">My Appointments</a>
        }
        <a asp-area="" asp-controller="Doctors" asp-action="All" class="btn-get-started scrollto">Find a doctor</a>
    </div>
</section><!-- End Hero -->