@using HealthHub.Common
@*@model HealthHub.Web.ViewModels.Home.IndexViewModel*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/remixicon/remixicon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" asp-append-version="true" />
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">


            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo me-auto"><img src="~/img/HH2.png" alt="" class="img-fluid"></a>
            <h1 class="logo me-auto"><a href="index.html">HealthHub</a></h1>

            <!--<nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="dropdown">
                        <label asp-for="Specialties"></label>
                        <select asp-for="Specialties" class="bi bi-chevron-down">
                            foreach (var specialty in Model.Specialties)
                            {
                                <option value="specialty.Id"> specialty.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Specialties" class="text-danger"></span>

                    </li>
                    <li class="dropdown">
                        <label asp-for="CityAreas"></label>
                        <select asp-for="CityAreas" class="bi bi-chevron-down">
                            foreach (var cityArea in Model.CityAreas)
                            {
                                <option value="cityArea.Id"> cityArea.Name</option>
                            }
                        </select>
                        <span asp-validation-for="CityAreas" class="text-danger"></span>

                    </li>
                    <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>--><!-- .navbar -->

            <a href="Doctors/All" class="appointment-btn scrollto"><span class="d-none d-md-inline" asp-controller="Doctors" asp-action="All">Find a</span> Doctor</a>
            <nav id="navbar" class="navbar order-last order-lg-0">

                <ul class="navbar order-last order-lg-0">
                    <partial name="_LoginPartial" />
                </ul>
            </nav>

        </div>
    </header><!-- End Header -->



    <partial name="_CookieConsentPartial" />

    <!--Hero Section-->
    <partial name="_HeroPartial" />

    <div class="m-5">
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    <!--Footer-->
    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/php-email-form/validate.js" asp-append-version="true"></script>
    <script src="~/lib/purecounter/purecounter.js" asp-append-version="true"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
