<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>When booking an appointment you can select a category to prepare your doctor for your visit. If you can't find the right service bellow, choose the one closest to your reason. In the next step you can put additional notes for the doctor to see.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4><a href="">Initial Check-Up</a></h4>
                    <p>Visiting this doctor for the fist time or visiting this doctor with a new issue.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-notes-medical"></i></div>
                    <h4><a href="">Follow-Up</a></h4>
                    <p>Visiting this doctor for the same issue within a week of the last appointment.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-dna"></i></div>
                    <h4><a href="">Lab Test</a></h4>
                    <p>Visiting this doctor for lab referral that you can bring to any lab of your choice.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4><a href="">Vaccination</a></h4>
                    <p>Visiting this doctor for vaccination from the vaccination schedule, seasonal or travel related.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-wheelchair"></i></div>
                    <h4><a href="">Medical Document</a></h4>
                    <p>Visiting this doctor for prescription, medical certificate for sick leave, return to work, fit for school etc.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4><a href="">Other</a></h4>
                    <p>Any other reason that was not mentioned above.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
