<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-lg-end">
    <div class="container d-flex align-items-end">
        <div class="d-none d-lg-flex social-links align-items-end">
            <nav id="navbar" class="navbar order-last order-lg-0">

                <ul class="navbar order-last order-lg-0">
                    <partial name="_LoginPartial" />
                </ul>
            </nav>
        </div>
    </div>
</div>
