@model HeaderSearchQueryModel
@{
    this.ViewData["Title"] = "Error 404";
}
<partial name="_HeaderPartial" />

<div class="row row-eq-height">
    <div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="~/img/Error.png" width="1000" alt=""></div>
        </div>
    </div>
    <div class="col-lg-4">
        <h2 style="color: red; padding-top: 120px;">Oops!</h2>
        <h2>We are very sorry!</h2>
        <h3>It looks loke we cannot find what you are looking for...</h3>
    </div>
</div>
